@media (max-width: 999px) {

    .buttons{
        margin-right: 0;
        width: auto;
    }
    
    .painel{
        width: auto;
    }
    .painel li{
        width: 30%;
    }
    .painel img{
        width: 100%;
    }
    .card{
        width: 20%;
        
    }
}



@media (min-width: 720px) {
	header h1 {
		text-align: left;
	}
	.menu-opcoes {
		position: absolute;
	}
	.sacola {
		display: block;
	}
	.painel li {
		width: 15%;
	}
	.busca, .menu-departamentos {
		margin-right: 1%;
		width: 30%;
	}
	.menu-departamentos nav > ul {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	.destaque img {
		width: 69%;
	}
}