* {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(167, 226, 255);
}

body::-webkit-scrollbar-thumb {
    background-color: #863D3D;
    border-radius: 20px;
}

body {
    background-color: rgb(167, 226, 255);
    margin: 0px;
}

html {
    scroll-behavior: smooth;
  }

header {
    display: flex;
    width: 100%;
    height: 50px;
}

h1 {
    align-self: center;
    font-family: Verdana;
    font-size: 30px;
    color: #863D3D;
}
h3{
    color: #000000;
}

#logo--1 {
    align-self: center;
    height: 450px;
    width: 500px;
}

#cherryheader{
    color: #863D3D;
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
    font-weight: normal;
    align-self: center;
}

#cherryheader:hover:not(.active) {
    color: #b37a7a;;
}

.container--header {
    position: fixed;
    background-image: url(/Img/fundo.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin-inline-end: 40px;
}

.navigation {
    background-size: cover;
    display: flex;
    align-items: center;
}
.buttons:hover:not(.active) {
    background-color: #b37a7a;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 140px;
    border-radius: 50px;
    font-family: Verdana;
    background-color: #863D3D;
    border: none;
    font-size: 15px;
    font-weight: normal;
    margin: 13px;
}

.section {
    color: #863D3D;
    background-size: cover;
    background-position: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

a {
    text-decoration: none;
    -webkit-text-fill-color: rgb(235, 248, 255);
}

.fundo {
    background-image: url(/Img/fundo.jpg);
}


.produtos--container {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.produtos {
    display: flex;
    width: 90%;
    margin-bottom: 100px;
    font-size: 20px;
}

.produtos--div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 150px;
    width: 33.33%;
    padding: 50px;
    border-radius: 20px;
    color: #863D3D;
    border: 1px solid #863D3D;
}

.container img{
    width: 200px;
}

.plusbttn:hover:not(.active) {
    background-color: #b37a7a;
}

.section, #logo--1 {
    display: flex;
    background-image: url("/Img/fundo.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-button{
    border-radius: 5px;
    border: none;
    background-color: #863D3D;
    color: rgb(235, 248, 255);
    width: 65px;
    padding: 10px;
}
.slide-123button{
    border-radius: 5px;
    border: none;
    background-color: #863D3D;
    color: rgb(235, 248, 255);
    padding: 8px;
    width: 25px;
}


.Slides{
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.123);
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
    -webkit-text-fill-color: rgb(235, 248, 255);
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #863d3dda;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  .dropdown-content a:hover {
    background-color: #b37a7ac2;
    border-radius: 10px;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
  
  .card {
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: Verdana;
    font-size: 11px;
    border-radius: 10px;
}

  .cardimage{
    border-radius: 8px;
}
  
  .price {
    color: rgb(41, 132, 160);
    font-size: 22px;
    font-weight: bold;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: rgb(235, 248, 255);
    background-color: #863D3D;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
}
.card:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #ece9e9;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10%;
    font-family: Verdana;
  }
  

  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
 
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #F5DEB3;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #863D3D;
    color: #F5DEB3;
    border-radius: 10%;
    font-size: 15px;
  }
  
  .modal-body {
    padding: 2px 16px;
    font-size: 15px;
}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #fefefe;
    border-radius: 10%;
  }
  
  .modalbttn{
    border: none;
    padding: 11px;
    color: rgb(235, 248, 255);
    background-color: #863D3D;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 13px;
    border-radius: 10px;
  }

  .modalbttn:hover:not(.active) {
    background-color: #b37a7a;
}

  .quantidade {
  display: inline-block;
  }

  .subtitulomod{
    font-weight: bold;
  }