* {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, rgb(167, 226, 255), rgb(41, 132, 160) 100%);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #b37a7a,#863D3D );
    border-radius: 20px;
}

body {
    background-color: rgb(167, 226, 255);
    margin: 0px;
}

html {
    scroll-behavior: smooth;
  }

header {
    display: flex;
    width: 100%;
    height: 50px;
}


h1 {
    align-self: center;
    font-family: Verdana;
    font-size: 30px;
    color: #863D3D;
}

button{
    background-color: #863D3D;
    color: #ece9e9;
    width: 15%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: medium;
    cursor: pointer;
}

button:hover:not(.active) {
    background-color: #b37a7a;
    color: #863D3D;
    font-weight: bold;
}

#logo--1 {
    align-self: center;
    height: 450px;
    width: 500px;
}

#cherryheader{
    color: #863D3D;
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
    font-weight: normal;
    align-self: center;
}

#cherryheader:hover:not(.active) {
    color: #b37a7a;;
}

#doces{
  position: center;
}
.container--header {
    position: fixed;
    background-image: url(/Img/fundo.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    margin-inline-end: 40px;
}

.navigation {
    background-size: cover;
    display: flex;
    align-items: center;
}
.buttons:hover:not(.active) {
    background-color: #b37a7a;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 140px;
    border-radius: 50px;
    font-family: Verdana;
    background-color: #863D3D;
    border: none;
    font-size: 15px;
    font-weight: normal;
    margin: 13px;
}

.section {
    color: #863D3D;
    background-size: cover;
    background-position: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

a {
    text-decoration: none;
    -webkit-text-fill-color: rgb(235, 248, 255);
}

.dropbtn {
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
    -webkit-text-fill-color: rgb(235, 248, 255);
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #863d3dda;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  .dropdown-content a:hover {
    background-color: #b37a7ac2;
    border-radius: 10px;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}

.card {
    max-width: 250px;
    margin: auto;
    text-align: center;
    font-family: Verdana;
    font-size: 11px;
    border-radius: 10px;
}

  .cardimage{
    border-radius: 8px;
}
  
  .price {
    color: rgb(41, 132, 160);
    font-size: 22px;
    font-weight: bold;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: rgb(235, 248, 255);
    background-color: #863D3D;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #ece9e9;
}

.produtos--container {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.produtos {
    display: flex;
    width: 90%;
    margin-bottom: 100px;
    font-size: 20px;
}

.produtos--div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 150px;
    width: 33.33%;
    padding: 50px;
    border-radius: 20px;
    color: #863D3D;
    border: 1px solid #863D3D;
}

.container img{
    width: 200px;
}

footer{
    background-image: url(/Img/fundo.jpg);
    clear: both;
    padding: 20px 0;
}

footer .container{
    position: relative;
}